.bucketCard{

    /* border: 2px solid red; */
    margin: 15px;
    gap: 25px;
    height: auto;
    width: 100%;
    /* position: absolute; */
    position: relative;

}


.loadingLogo{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
      width: 100%;
      height: 70vh;
  /* border: 2px sol red; */
  
  
  }

  
  .deleteBtn{
    padding-left: 15px;
    scale: 1.1;
  }