.objectCard{

    /* border: 2px solid red; */
    margin: 15px;
    gap: 25px;
    height: auto;
    width: 60%;

}

.keyPath{
    font-size: 1em;
}

.titleFileName{
    width: 100% !important;

}

.subTitle{
    /* border: 2px solid red; */
    display: flex !important;
    justify-content:space-between !important;
    align-items: center !important;
}