.upload{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar{
    flex: 0.1;
    
}
    
.wrapper{
    display: flex;
    width: 100%;
    height: 89vh;
    flex: 0.9;
}

.sidebar{
    flex:0.2;
}

.cardWrapper{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    height: 90vh;
    /* border: 2px solid red; */
    
}

.uploadBtn{
    height: 8vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
    /* border: 2px solid red; */
}

.mainUploadPg{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    padding: 5vh 10%;
}

.mainUploadPg > * {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-bottom: 10%;
}



.mainUploadPg{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 90vh;


}

.mainUploadPg > *{
    /* border: 2px solid red; */

}
