@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




.navbar{
    width: 100%;
    height: 100%;
    
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
.sidebar{
    flex: 0.10;
    height: 90vh;
    width: 100%;
}

.home{
    flex: 0.90;
    height: 90vh;

}